---
import Header from "@components/Header.astro";
import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/500.css";
import "@fontsource/ibm-plex-sans/600.css";
import "@fontsource/ibm-plex-sans/700.css";
import "@fontsource/ibm-plex-sans-arabic/400.css";
import "@fontsource/ibm-plex-sans-arabic/500.css";
import "@fontsource/ibm-plex-sans-arabic/600.css";
import "@fontsource/ibm-plex-sans-arabic/700.css";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";

const {
  title,
  description,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = SITE_CONFIG;

const ogImgUrl = canonicalURL + socialImage;
---

<!doctype html>
<html lang={lang} dir="ltr" class="scroll-pt-16 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImgUrl} />

    <script
      defer
      data-website-id="dfid_hRQji3lN3KfBD3FZpe9zD"
      data-domain="osama-lab.com"
      src="https://datafa.st/js/script.js"></script>
  </head>
  <body class="bg-black font-sans">
    <Header navLinks={navLinks} />
    <main class="mx-auto max-w-3xl px-5">
      <slot />
    </main>
    <Footer author={author} socialLinks={socialLinks} />
    
    <script>
      import { languageStore } from "@app/language-store";
      import { themeStore } from "@app/theme-store";
      
      // Initialize language and theme stores on page load
      languageStore;
      themeStore;
    </script>
  </body>
</html>
